<!DOCTYPE html>
<html>
	<head>
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/developerstyle.css') }}">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <title>Developer Portfolio</title>
	</head>
	<body>
			<div class = "bubbles">
				<span style="--i:11;"></span>
				<span style="--i:12;"></span>
				<span style="--i:24;"></span>
				<span style="--i:10;"></span>			
				<span style="--i:14;"></span>
				<span style="--i:23;"></span>		
				<span style="--i:18;"></span>
				<span style="--i:16;"></span>	
				<span style="--i:19;"></span>
				<span style="--i:20;"></span>
				<span style="--i:22;"></span>
				<span style="--i:25;"></span>
				<span style="--i:18;"></span>
				<span style="--i:21;"></span>
				<span style="--i:15;"></span>
				<span style="--i:13;"></span>
				<span style="--i:26;"></span>
				<span style="--i:17;"></span>
				<span style="--i:13;"></span>
				<span style="--i:28;"></span> 
				<span style="--i:11;"></span>
				<span style="--i:12;"></span>
				<span style="--i:24;"></span>
				<span style="--i:10;"></span>			
				<span style="--i:14;"></span>
				<span style="--i:23;"></span>		
				<span style="--i:18;"></span>
				<span style="--i:16;"></span>	
				<span style="--i:19;"></span>
				<span style="--i:20;"></span>
				<span style="--i:22;"></span>
				<span style="--i:25;"></span>
				<span style="--i:18;"></span>
				<span style="--i:21;"></span>
				<span style="--i:15;"></span>
				<span style="--i:13;"></span>
				<span style="--i:26;"></span>
				<span style="--i:17;"></span>
				<span style="--i:13;"></span>
				<span style="--i:28;"></span> 
	    	</div>
	    	<header>
			        <h1><center> Meet The Developers of The Lip Talker </center></h1>
			        <div class="home-button">
                		<a href="{{ url_for('index') }}" class="home-link">Home</a>
            		</div>
			    </header>

			    <main>
			        <section class="developer">
			            <div class="image-container">
			                <img src="{{ url_for('static', filename='images/satyam.jpg') }}"  alt="Developer 1 Photo">					
			            </div>
			            <h2> Satyam Jhawar</h2>
			            <p>Developer 1</p>

			            <div class="socials">
			            	<ul>
							    <li><a href="https://www.linkedin.com/in/satyam-jhawar-7067121a1/" target="_blank">
							        	<button style="font-size:12px"> <i class="fa fa-linkedin-square"></i> Satyam Jhawar </button>
							    	</a>
							    <li><a href="https://github.com/SJhawar1010" target="_blank">
							        	<button style="font-size:12px"> <i class="fa fa-github-square"></i> Satyam Jhawar </button>
							    	</a>
							    <li><button style="font-size:12px"> <i class="fa fa-envelope"></i> satyam.jhawar@msam.christuniversity.in </button>
							    <li><button style="font-size:12px"> <i class="fa fa-phone"></i> 8812943298 </button>
							</ul>
						</div>
			        </section>
			        <section class="developer">
			            <div class="image-container">
			                <img src="{{ url_for('static', filename='images/reeve.jpg') }}" alt="Developer 2 Photo">
			            </div>
			            <h2>Reeve R Mathew</h2>
			            <p>Developer 2</p>
			            <div class="socials">
			            	<ul>
						    	<li><a href="https://www.linkedin.com/in/reeve-r-mathew-744b11284/" target="_blank">
						        	<button style="font-size:12px"> <i class="fa fa-linkedin-square"></i> Reeve R Mathew </button>
						    		</a>
						    	<li><a href="https://github.com/Reeve8" target="_blank">
						        	<button style="font-size:12px"> <i class="fa fa-github-square"></i> Reeve R Mathew </button>
						    	</a>
						    	<li><button style="font-size:12px"> <i class="fa fa-envelope"></i> reeve.mathew@msam.christuniversity.in </button>
						    	<li><button style="font-size:12px"> <i class="fa fa-phone"></i> 8075555139 </button>
						    </ul>
						</div>
			        </section>
			        <section class="developer">
			            <div class="image-container">
			                <img src="{{ url_for('static', filename='images/c1.jpg') }}" alt="Developer 3 Photo">
			            </div>
			            <h2>Christina J Thattil</h2>
			            <p>Developer 3</p>

			            <div class="socials">
						    <ul>
						    	<li><a href="https://www.linkedin.com/in/christina-thattil-2b32a8284/" target="_blank">
						        	<button style="font-size:12px"><i class="fa fa-linkedin-square"></i> Christina J Thattil </button>
						    		</a>
						    	<li><a href="https://github.com/Christinathattil" target="_blank">
						        	<button style="font-size:12px"><i class="fa fa-github-square"></i> Christina J Thattil </button>
						    	</a>
						    	<li><button style="font-size:12px"><i class="fa fa-envelope"> </i>christina.thattil@msam.christuniversity.in </button>
						    	<li><button style="font-size:12px"><i class="fa fa-phone"></i> 9446701395 </button>
							</ul>
						</div>
			        </section>
			    </main>
	</body>
</html>